@model Alumno

@{

}

<form  asp-action="OnPostUpdate" class="container-form">
    <div class="form-div">
        <label asp-for="Id"></label>
        <input type="text" asp-for="Id">
    </div>
    <div class="form-div">
        <label asp-for="Nombre"></label>
        <input type="text" asp-for="Nombre">
    </div>
    <div class="form-div">
        <label asp-for="Apellido"></label>
        <input type="text" asp-for="Apellido">
    </div>
    <div class="form-div">
        <label asp-for="Dni"></label>
        <input type="text" asp-for="Dni">
    </div>
    <div class="form-div">
        <label asp-for="FechaNacimiento"></label>
        <input type="text" asp-for="FechaNacimiento">
    </div>
    <div class="form-div">
        <label asp-for="Domicilio"></label>
        <input type="text" asp-for="Domicilio">
    </div>
    <button  class="btn btn-info">Modificar</button>
</form>

